flask
flask-cors
requests
langchain
langchain-community
langchain-openai
openai
langgraph
faiss-cpu
PyPDF2
pandas
tqdm
uvicorn
fastapi
python-dotenv
mcp
camelot-py
pdfplumber
streamlit
gunicorn
opencv-python-headless